/* Background Color */

body {
    background-color: #3f48cc;
    margin: 12px;
}

/* Centering Content */

div.banner {
    display: flex;
    justify-content: center;
}

.text {
    font-family: Impact;
    color: #76292d;
    font-size: 50px;
    margin-left: 12px;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: rgb(129, 0, 90);
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }

  #navbar button {
    background-color: #4d4d4d;
  margin: auto;
  border: none;
  color: #0892D0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  div.createAccount {
    overflow: hidden;
    background-color: #555;
  }

  .createAccount button {
    background-color: #4d4d4d;
  margin: auto;
  border: none;
  color: #0892D0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  }

  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

button {
  font-family: Impact;
    color: #76292d;
}

input {
font-family: Impact;
    color: #76292d;
}

label {
font-family: Impact;
    color: #76292d;
}

.btnDownload {
  background-color: limegreen;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btnDownload:hover {
  background-color: green;
}